body {
  font-family: Roboto, sans-serif;
  font-size: 18px;   
  text-align: left;
  padding: 2px;
  margin: 2px;
  border: 2px;
}

title {
  color: blue;
  font-size: 25px;
  text-align: center;
}

img {
  height: auto;
  width: 10%;
  min-width: 200px;
  padding: 5px;
}

.hyperlink {
  color: blue;
  font-weight: bold;
}

menu {
}

h1 {
}

h2 {
}

table {
}

article {
}

footer {
}